CREATE USER {{ mysqlrep_name }}@'10.%' identified by  '{{ mysqlrep_pwd }}';
GRANT REPLICATION SLAVE,REPLICATION CLIENT ON *.* TO my_rep@'10.%';

DELETE FROM mysql.user WHERE User='';
DELETE FROM mysql.db WHERE User='';
DELETE FROM mysql.user WHERE user='root' AND Host NOT IN ('localhost');

{% if mysqlroot_name =="root" %}
ALTER USER {{ mysqlroot_name }}@'localhost' identified by  '{{ mysqlroot_pwd }}';
{% endif %}

CREATE USER IF NOT EXISTS {{ mysqlroot_name }}@'localhost' identified by  '{{ mysqlroot_pwd }}';
GRANT ALL PRIVILEGES ON *.* TO '{{ mysqlroot_name }}'@'localhost'  WITH GRANT OPTION;
CREATE USER IF NOT EXISTS {{ mysqlroot_name }}@'127.0.0.1' identified by  '{{ mysqlroot_pwd }}';
GRANT ALL PRIVILEGES ON *.* TO '{{ mysqlroot_name }}'@'127.0.0.1'  WITH GRANT OPTION;

{% if mysqlroot_name !="root" %}
DROP USER root@'localhost';
{% endif %}

RESET MASTER;
{% if mgr_cluster %}
#install plugin group_replication soname 'group_replication.so';
change master to   master_user='{{ mysqlrep_name }}', master_password='{{ mysqlrep_pwd }}' for channel 'group_replication_recovery';

    {% if primary_host in ansible_all_ipv4_addresses %}
        set global group_replication_bootstrap_group=on;
        start group_replication;
        set global group_replication_bootstrap_group=off;
    {% else %}
        select sleep(30);
        start group_replication;
    {% endif %}
{% endif %}